*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    background-color: #666460;
    font-family: Montserrat;
}

header{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: white;
    max-width: 100%;
    h1{
        color: #FF9614;
        background-color: white;
        font-family: nerko one;
        font-size: 50px;
        text-shadow: 1px 1px #a9a9a9;
    }
}

.title-container{
    margin: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
}

#category{
    color: #999999;
    padding-bottom: 0.5rem;
}

#tiramisù{
    font-weight: 800;
    font-size: 30px;
}

.container{
    margin: 1rem;
    padding-bottom: 1rem;
}

.synthesis{
    background-color: white;
    padding-top: 1rem;
}

h3{
    padding-bottom: 1rem;
    padding-left: 1rem;
}

p{
    padding-bottom: 0.75rem;
    padding-left: 1rem;
}


.banner{
    display: none;
}

footer{
    background-color: #7C69A4;
    width: 100%;
    padding: 0.25rem 1rem 0.25rem;
  }